{% extends "base.html" %}

{% block title %}Recipe Not Found - Recipe Cookbook{% endblock %}

{% block content %}
<center>
    <h2>
        <font face="Comic Sans MS" color="#FF0000">
            ❌ RECIPE NOT FOUND ❌
        </font>
    </h2>
</center>

<table width="100%" border="3" cellpadding="20" cellspacing="0" bgcolor="#FFCCCC">
    <tr>
        <td>
            <center>
                <font face="Arial" size="4" color="#000000">
                    <b>Sorry, the recipe you're looking for doesn't exist.</b>
                </font>
            </center>
        </td>
    </tr>
</table>

<br>

<center>
    <a href="/">
        <table border="3" cellpadding="10" bgcolor="#00FF00">
            <tr>
                <td>
                    <font face="Arial" size="4" color="#000000">
                        <b>⬅️ BACK TO HOME</b>
                    </font>
                </td>
            </tr>
        </table>
    </a>
</center>

{% endblock %}